# Build artifacts
packages/*/dist/
packages/*/docs/
packages/*/README.md

# Mac files
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# NX cache
.nx

# Rollup cache
.rollup.cache
